@charset "UTF-8";
html,
body,
table,
ul,
li,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
button,
fieldset,
input,
textarea,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}